<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kahoot! Points</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body ng-app="kahootPoints">

    <main class="container-fluid -kp-reset-pad">
      <div class="row -kp-reset-margin-right">

        <!-- Main -->
        <div class="col-sm-8 -kp-reset-right-pad">
          <h1 class="kp-page-heading">Kahoot! Points</h1>

          <section class="kp-items-container" ng-controller="ItemsPadsController as itemsPads">
            <h2 class="kp-items-heading">Items</h2>
            <ul class="kp-items-pads">
              <li class="kp-item-pad" ng-repeat="item in itemsPads.items" ng-click="itemsPads.addItem(item)">
                {{ item.label }}
              </li>
            </ul>
          </section>
        </div>

        <!-- Sidebar -->
        <div class="col-sm-4 -kp-sidebar">
          <h2 class="kp-sidebar-heading">Player Items</h2>
          <div scroller overlay=".kp-summary">
            <table class="table -kp-score-table" ng-controller="ScoreTableController as scoreTable">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Qty</th>
                  <th>Score</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in scoreTable.getCollectedItems()">
                  <td>
                    <span class="kp-score-table__pad">{{ item.label }}</span>
                  </td>
                  <td>{{ scoreTable.getCount(item) }}</td>
                  <td>{{ scoreTable.getTotalValue(item) }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <section class="kp-summary" ng-controller="ScoreSummaryController as scoreSummary">
            <p class="kp-summary__bonuses">Bonuses: {{ scoreSummary.getTotalBonuses() }}</p>
            <div class="kp-summary__total">
              <button type="button" class="btn btn-primary btn-lg" ng-click="scoreSummary.newGame()">New Game</button>
              <p>Total: {{ scoreSummary.getTotal() }}</p>
            </div>
          </section>
        </div>

      </div>
    </main>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/items-pads-controller.js"></script>
    <script src="js/controllers/score-summary-controller.js"></script>
    <script src="js/controllers/score-table-controller.js"></script>
    <script src="js/lib/models/item.js"></script>
    <script src="js/lib/models/user.js"></script>
    <script src="js/services/items-service.js"></script>
    <script src="js/services/user-service.js"></script>
    <script src="js/directives/scroller-directive.js"></script>
  </body>
</html>
